{
"AUTH_LDAP_SERVER_URI":"ldaps://gva.icrc.priv",
"AUTH_LDAP_BIND_DN":"cn=user",
"AUTH_LDAP_BIND_PASSWORD":"pass",
"AUTH_LDAP_USER_SEARCH":[
["OU=Users,DC=northamerica,DC=acme,DC=com","SCOPE_SUBTREE","(sAMAccountName=%(user)s)"],
["OU=Users,DC=apac,DC=corp,DC=com","SCOPE_SUBTREE","(sAMAccountName=%(user)s)"],
["OU=Users,DC=emea,DC=corp,DC=com","SCOPE_SUBTREE","(sAMAccountName=%(user)s)"]
],
"AUTH_LDAP_GROUP_SEARCH":["dc=example,dc=com","SCOPE_SUBTREE","(objectClass=group)"],
"AUTH_LDAP_USER_DN_TEMPLATE":"sAMAccountName=%(user)s","AUTH_LDAP_USER_ATTR_MAP":{},
"AUTH_LDAP_GROUP_TYPE":"MemberDNGroupType",
"AUTH_LDAP_GROUP_TYPE_PARAMS":{"member_attr":"member","name_attr":"cn"},
"AUTH_LDAP_REQUIRE_GROUP":null,
"AUTH_LDAP_DENY_GROUP":null,
"AUTH_LDAP_START_TLS":false,
"AUTH_LDAP_USER_FLAGS_BY_GROUP":{"is_superuser":"cn=superusers,ou=groups,dc=website,dc=com"},
"AUTH_LDAP_ORGANIZATION_MAP":{
"Default":{
  "admins":"cn=engineering_admins,ou=groups,dc=example,dc=com",
  "remove_admins":false,
  "users":[
    "cn=engineering,ou=groups,dc=example,dc=com",
    "cn=sales,ou=groups,dc=example,dc=com",
	"cn=it,ou=groups,dc=example,dc=com"
	],
	"remove_users":false
	}
},
"AUTH_LDAP_TEAM_MAP":{
  {% for item in tower_config_teams %} 
  "{{item.name}}":{
    "organization":"Default",
	"users":"{{item.users_cn}}",
	"remove":true
	},
  {% endfor %}
}
}